# compiled output
/*/dist
/*/tmp
/*/out-tsc

# front-end projects dependencies 
user-interface/node_modules

# IDEs and editors
/*/.idea
/*/project/target/*
/*/project/project/target/*
/*/target/*

# IDE - VSCode
/*/.vscode/*
