# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/*/dist
/*/tmp
/*/out-tsc

# front-end projects dependencies 
/*/node_modules

# IDEs and editors
/*/.idea
/*/project/target/*
/*/project/project/target/*
/*/target/*

# IDE - VSCode
/*/.vscode/*
